  <p> <%= @discount.title %> </p>
  <p> <%= @discount.quantity_threshold %> </p>
  <p> <%= @discount.percentage_discount%> </p>

  <h3><%= link_to "Edit Discount #{@discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{@discount.id}/edit" %></h3>
